	  * {
			margin: 0;
			padding: 0;
		}
		
		#container
		{
			
		}
		
		html, body
		{
			margin: auto;
			height: 100%;
			width: 1300px;
			background-color: #222222;
			font-size: 24px;
			color: lightblue;
			text-align: center;
		}
		img.black
		{
			position: absolute!important;
			margin-left: -14px;
			vertical-align: top;
			z-index: 1;
		}
		
		img.white
		{
			filter: brightness(100%);
			position: relative!important;
		}
		
		#Keyboard
		{ 
			background-color: darkred;
			vertical-align: top;
		}
		
		#cpy1
		{
			color: #777777;
			margin-top: 10px;
		}
		
		#cpy2
		{
			color: #777777;
		}